<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duu.ojquestionservice.mapper.CommentLikeMapper">

    <resultMap id="BaseResultMap" type="com.duu.ojmodel.model.entity.CommentLike">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commentId" column="commentId" jdbcType="BIGINT"/>
            <result property="userLikeId" column="userLikeId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,commentId,userLikeId
    </sql>
</mapper>
